## First import all libraries.

In [12]:
import pandas as pd

In [13]:
import geocoder # import geocoder

In [14]:
# Read our Postcode dataframe
df = pd.read_csv("Toronto_part1.csv")
df.head()

   Unnamed: 0 Postcode        Neighbourhood      Borough
0           3      M1G               Woburn  Scarborough
1           4      M1H            Cedarbrae  Scarborough
2           5      M1J  Scarborough Village  Scarborough
3          12      M1S            Agincourt  Scarborough
4          16      M1X          Upper Rouge  Scarborough

In [15]:
#using geocoder:
# initialize your variable to None
#lat_lng_coords = None

# loop until you get the coordinates
#while(lat_lng_coords is None):
#  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
#  lat_lng_coords = g.latlng

#latitude = lat_lng_coords[0]
#longitude = lat_lng_coords[1]

In [16]:
#read coordinates:
df_coor=pd.read_csv("Geospatial_Coordinates.csv")
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
#rename columns names:
df_coor.columns = ["Postcode","Latitude","Longitude"]
df_coor.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [19]:
df_res=df.join(df_coor.set_index('Postcode'), on='Postcode')
df_res.head()

   Unnamed: 0 Postcode        Neighbourhood      Borough   Latitude  Longitude
0           3      M1G               Woburn  Scarborough  43.770992 -79.216917
1           4      M1H            Cedarbrae  Scarborough  43.773136 -79.239476
2           5      M1J  Scarborough Village  Scarborough  43.744734 -79.239476
3          12      M1S            Agincourt  Scarborough  43.794200 -79.262029
4          16      M1X          Upper Rouge  Scarborough  43.836125 -79.205636

In [20]:
df_res.reindex
df_res.head()

   Unnamed: 0 Postcode        Neighbourhood      Borough   Latitude  Longitude
0           3      M1G               Woburn  Scarborough  43.770992 -79.216917
1           4      M1H            Cedarbrae  Scarborough  43.773136 -79.239476
2           5      M1J  Scarborough Village  Scarborough  43.744734 -79.239476
3          12      M1S            Agincourt  Scarborough  43.794200 -79.262029
4          16      M1X          Upper Rouge  Scarborough  43.836125 -79.205636

In [22]:
df_res=df_res.loc[:, ~df_res.columns.str.contains('^Unnamed')]
df_res.head()

  Postcode        Neighbourhood      Borough   Latitude  Longitude
0      M1G               Woburn  Scarborough  43.770992 -79.216917
1      M1H            Cedarbrae  Scarborough  43.773136 -79.239476
2      M1J  Scarborough Village  Scarborough  43.744734 -79.239476
3      M1S            Agincourt  Scarborough  43.794200 -79.262029
4      M1X          Upper Rouge  Scarborough  43.836125 -79.205636

In [23]:
df_res.to_csv("Toronto_part2.csv")